.principal{
    width:42.72474377745242vw;
    height:54.16666666666667vh;
    border-radius: 12px;
    background: #83CBCE;
}
.button{
    width: 14.71449487554905vw;
}
.fields{
    width: 20.05856515373353vw;
}
.image{
    width: 12.53733528550512vw;
    height: 25.0546875vh;
    padding: 0%;
    margin-top: 20px;
}