<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs> 

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="list-patient">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>Pacientes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="list-session">
        <ion-icon name="copy-outline"></ion-icon>
        <ion-label>Sesiones</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="list-activity">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Actividades</ion-label>
      </ion-tab-button>



<!-- 
      <ion-tab-button tab="view-video">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Video</ion-label>
      </ion-tab-button> -->


    </ion-tab-bar>

  </ion-tabs>
</ion-app>
