.principal{
    width: 100vw;
    height: 100vh;
    background: url('../../../../assets/svg/home/image.svg');
    background-size:cover;
}
.banner{
    width: 43.8506588579795vw;
    height: 35.546875vh;
    margin-top: 19.98697916666667vh;
    margin-left: 53.36749633967789vw;
}