<ion-header>
  <ion-toolbar>
    <ion-title>Informacion de Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="editForm">
   
    <ion-item>
      <ion-label position="floating">Nombre completo</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección exacta</ion-label>
      <ion-input formControlName="address" type="text" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input formControlName="email" type="text" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de contacto #1</ion-label>
      <ion-input formControlName="phoneNumber1" type="text" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de contacto #2</ion-label>
      <ion-input formControlName="phoneNumber2" type="text" required>
      </ion-input>
    </ion-item>
   
    <ion-item *ngIf="png">
      <ion-label position="floating">Foto de paciente</ion-label>
      <img [src]="png"/>
    </ion-item>

  </form>

  <ion-button (click)="setPng()">Ver foto del paciente</ion-button>
  

</ion-content>
