.button{
    width: 17.56954612005857vw;
    height: 5.208333333333333vh;
    --background:#BCEEF0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    /* or 124% */

    color: #015A6B;
}