/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

ion-content{
    --background: #83CBCE;
}
.menuIcon{
   width: 3.660322108345534vw; 
   height: 6.510416666666667vh;
}
.sign-in-popover-class{
    --min-width:24.6705710102489vw;
    --min-height:55.98958333333333vh;
    --border-radius: 12px;
}
.recovery-pass-popover-class{
    --max-width:24.6705710102489vw;
    --max-height:47.78645833333333vh;
    --border-radius: 12px;
}

.sign-up-popover-class{
    --max-width:24.6705710102489vw;
    --max-height:67.578125vh;
    --border-radius: 12px;
}

.new-patient-popover-class{
    --max-width:35.72474377745242vw;
    --max-height:54.16666666666667vh;
    --border-radius: 12px;
}

.socialButton{
    --width: 9.809663250366032vw;
    --height: 5.729166666666667vh;
    --padding: 0%;
    --margin-top:0vh;
    --margin-left: auto;
    --margin-right: auto;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: none;
}

//SearchBar

ion-searchbar {
    height: 5.20vh !important;
    width: 20.49vw !important;
    padding: 0%;
    font-family: 'Source sans pro' !important;
    font-weight: 600 !important; //semibol
    font-size: 14px !important;
    --background: #BCEEF0 !important;
    --color: var(--ion-color-terciario-gris2) !important;
    --icon-color: var(--ion-color-terciario-gris1) !important;
    --border-radius: 0;
    --box-shadow: none !important;
    --placeholder-font-weight: 400;
}

ion-searchbar:hover {
    --background: var(--ion-color-secundario-dominante3) !important;
    --color: var(--ion-color-terciario-gris2) !important;
    --icon-color: var(--ion-color-terciario-gris2) !important;
}

ion-searchbar:active {
    --background: #BCEEF0 !important;
    --opacity:50%;
    --color: var(--ion-color-terciario-gris2) !important;
    --icon-color: var(--ion-color-terciario-gris2) !important;
}

ion-searchbar ion-icon {
    right: 16px !important;
    left: auto !important;
 }

.searchbar-clear-icon { 
    display: none !important; 
}

ion-searchbar input {
    padding-left: 1vw !important;
}

#google{
    width: 1.431185944363104vw;
    height: 2.604166666666667vh;
    content: url('./assets/icon/auth/google.svg');
}
#facebook{
    width: 1.431185944363104vw;
    height: 2.604166666666667vh;
    content: url('./assets/icon/auth/facebook.svg');
}
