<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="parej">
      <ion-buttons slot="start">
        <ion-menu-button (click)="toggleMenu()"></ion-menu-button>
      </ion-buttons>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/pacientes">Pacientes</ion-item>
      <ion-item href="/actividades">Actividades</ion-item>
      <ion-item>Sesiones</ion-item>
      <ion-item>Dispositivo</ion-item>
      <ion-item (click)="logout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>