.principal{
    width:24.6705710102489vw;
    height:67.578125vh;
    background: #83CBCE;
    border-radius: 12px;
}
.title{
    width: 15.00732064421669vw;
    height: 6.25vh;
    margin-top: 0.78125vh;
    margin-left: auto;
    margin-right: auto;
    //margin-bottom: 1.5625vh;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1.464128843338214vw;
    line-height: 3.125vh;
    display: flex;
    align-items: center;
    text-align: center;

    color: #015A6B
}
.fields{
    width: 20.05856515373353vw;
}

#google{
    background: url('../../../../assets/icon/auth/google.svg');
}