<ion-grid >
  <ion-row>
    <ion-col>
      <ion-searchbar placeholder="buscar"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-slides>
        <ion-slide>
          <ion-card class="card" (click)="goToDetail()">
            <ion-img src="assets/svg/activities/activity.svg" class="image"></ion-img>
            <ion-card-header>
              <ion-card-title>Actividad 1</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile
            </ion-card-content>
          </ion-card>

          <ion-card class="card">
            <ion-img src="assets/svg/activities/activity.svg" class="image"></ion-img>
            <ion-card-header>
              <ion-card-title>Actividad 1</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile
            </ion-card-content>
          </ion-card>

          <ion-card class="card">
            <ion-img src="assets/svg/activities/activity.svg" class="image"></ion-img>
            <ion-card-header>
              <ion-card-title>Actividad 1</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="card">
            <ion-img src="assets/svg/activities/activity.svg" class="image"></ion-img>
            <ion-card-header>
              <ion-card-title>Actividad 1</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>
