
.card{
    width: 17.42313323572474vw;
    height: 37.36979166666667vh;
}
.image{
    width: 5.197657393850659vw;
    height: 9.244791666666667vh;
    margin-top: 4.557291666666667vh;
    margin-left: 3.22108345534407vw;
}