<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-button class="button" (click)="addPatient()">
      New
    </ion-button>
  </ion-col>

  <ion-list>
    <ion-item *ngFor="let task of Tasks" lines="full">
      
      <ion-label>
        <strong>{{task.name}}</strong>
        <p>{{task.email}}</p>
      </ion-label>

      <div item-end>
<!-- 
        <button routerLink="['/list-activity/',task.name]">
          <ion-icon name="albums-outline"></ion-icon>
        </button>  -->

        <button [routerLink]="['/update-patient/', task.id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>

        <button (click)="remove(task.id)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>

      </div>

    </ion-item>
  </ion-list>

</ion-content>

<!-- <ion-grid>
  <ion-row>
    <ion-col sise="auto">
      <ion-searchbar class="searchBar" (ionChange)="search($event)" placeholder="buscar"></ion-searchbar>
    </ion-col>
    <ion-col>
      <ion-button class="button" (click)="addPatient()">
        Nuevo Paciente
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <table mat-table [dataSource]="patientsData" class="mat-elevation-z8" #tabla1>

        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let patient"> {{patient.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Dirección">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let patient"> {{patient.address}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Teléfono 1">
          <th mat-header-cell *matHeaderCellDef> Teléfono 1 </th>
          <td mat-cell *matCellDef="let patient"> {{patient.phoneNumber1}} </td>
        </ng-container>

        <ng-container matColumnDef="Teléfono 2">
          <th mat-header-cell *matHeaderCellDef> Teléfono 2 </th>
          <td mat-cell *matCellDef="let patient"> {{patient.phoneNumber2}} </td>
        </ng-container>

        <ng-container matColumnDef="Actualizar">
          <th mat-header-cell *matHeaderCellDef> Actualizar</th>
          <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
              Actualizar
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Eliminar">
          <th mat-header-cell *matHeaderCellDef> Eliminar</th>
          <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
              Borrar
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </ion-col>
  </ion-row>
</ion-grid> -->