.card{
    width: 17,42313323572474vw;
    height: 48,828125vh;
}
.searchBar{
    width: 17.56954612005857vw;
    height: 5,208333333333333vh;
    margin-left: 58px;
}
.button{
    width: 17.56954612005857vw;
    height: 5,208333333333333vh;
    background: #BCEEF0;
}
table {
    width: 90%;
    margin:1rem auto;
 }