.principal{
    width: 76.79355783308931vw;
    height: 5.208333333333333vh;
    margin-left: auto;
    margin-right: auto;
}
.button{
    width: 17.56954612005857vw;
    height: 5.208333333333333vh;
}