.principal{
    width: 43.8506588579795vw;
    height: 35.546875vh;
}

.title{
    width: 39.67789165446559vw;
    height: 11.19791666666667vh;

    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 60px;
    text-transform: uppercase;

    /* or 103% */
    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;
}

.subtitle{
    width: 30.89311859443631vw;
    height: 8.463541666666667vh;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    /* or 150% */
    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;
}

.buttons{
    width: 23.79209370424597vw;
    height: 6.770833333333333vh;
}