<ion-grid class="principal">
  <ion-row>
    <ion-col>
      <ion-label class="title">Actividades para vos</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="subtitle">Encuentra actividades perfectas para tu proceso de rehabilitación</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="buttons">
    <ion-col>
      <ion-button class="registerButton" (click)="registerModal()">Registrarse</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="readMoreButton">Leer más</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>