ion-label {
    color:var(--ion-color-terciario-gris1) !important;
}

ion-label:hover {
    color:var(--ion-color-secundario-auxiliar4) !important;
}

ion-label:active {
    color:var(--ion-color-secundario-auxiliar4) !important;
}

ion-tab-button {
    font-family: 'Source sans pro';
    font-weight: 600; //semibol
    font-size: 14px;
    color:var(--ion-color-terciario-gris1) !important;
    --ripple-color: #83CBCE !important;
}

ion-tab-button:hover {
    --background: #83CBCE  !important;
}

.loginButton{
    width: 11.05417276720351vw;
    height: 5.729166666666667vh;
    margin-left: 60px;
    --background:transparent;
    border: 2px solid #015A6B;
    box-sizing: border-box;
    border-radius: 4px;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: none;

    --color: #015A6B;
}