.principal{
    width: 24.6705710102489vw;
    height: 55.98958333333333vh;
    padding: 0%;
    background: #83CBCE;
    border-radius: 12px;
}
.title{
    width: 15.00732064421669vw;
    height: 6.25vh;
    margin-top: 0.78125vh;
    margin-left: auto;
    margin-right: auto;
    //margin-bottom: 1.5625vh;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1.464128843338214vw;
    line-height: 3.125vh;
    display: flex;
    align-items: center;
    text-align: center;

    color: #015A6B
}
.fields{
    width: 20.05856515373353vw;
}

.registerButton{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: none;
}

.recoveryLink{
    color: #015A6B;;
}

#google{
    width: 1.431185944363104vw;
    height: 2.604166666666667vh;
    content: url('../../../../assets/icon/auth/google.svg');
}
#facebook{
    width: 1.431185944363104vw;
    height: 2.604166666666667vh;
    content: url('../../../../assets/icon/auth/facebook.svg');
}





.registerData{
    margin-left: auto;
    margin-right: auto;
}
.item{
    min-width: 81.11111111111111vw;
    min-height: 7.8125vh;
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.fields{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #015A6B;
}
.recoveryLabel{
    width: 18.00878477306003vw;
    height: 2.083333333333333vh;
    margin-top: 0.5651041666666667vh;
    margin-left: auto;
    margin-right: auto;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9516837481698389vw;
    line-height: 2.083333333333333vh;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Terciario/Gris_2 */
    color: #015A6B
}
.recoveryLink{
    //margin-left: 0.8333333333333333vw;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    /* Secundario/Auxiliar_4 */
    color: #02768D;
}
.loginButton{
    width: 16.83748169838946vw;
    height: 5.598958333333333vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.255208333333333vh;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: none;

/* Secundario/Dominante_1 */
color: #FFF9EE;
}
.registerLabel{
    width: 57.77777777777778vw;
    height: 2.34375vh;
    margin-top: 0.78125vh;
    margin-left: auto;
    margin-right: auto;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Terciario/Gris_2 */
    color: #72675F;
}
.registerLink{
    margin-left: 0.8333333333333333vw;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    /* Secundario/Auxiliar_4 */
    color: #02768D;
}
#back{
    margin-top: 8px;
    width: 8.180555555555556vw;
    height: 5.9375vh;
    //content: url('../../../../assets/custom-ion-icons/back.svg');
}

