<ion-grid class="principal">

  <ion-row class="ion-text-center">
    <ion-col>
      <ion-label class="title">Por favor introduzca su información</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button class="socialButton" color="parej">
        <ion-icon id="google"></ion-icon> Ingresar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="socialButton" color="parej">
        <ion-icon id="facebook"></ion-icon> Ingresar
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col style="margin-top: 3.90625vh;">
        <mat-form-field appearance="legacy">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="usuario@ejemplo.com" [(ngModel)]="newUser.email" [formControl]="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field  appearance="legacy">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newUser.password">
          <button style="background: #83CBCE;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon svgIcon="lock"></mat-icon>
          </button>
        </mat-form-field>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col >
      <ion-label style="color: #015A6B;" >¿Olvidó su contraseña?<a>Recuperar</a></ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button  color="parej" class="registerButton" (click)="login()">Iniciar sesión</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col >
      <ion-label style="color: #015A6B;" >¿Ya tienes una cuenta? <a>Iniciar sesión</a></ion-label>
    </ion-col>
  </ion-row>

</ion-grid>