<ion-header>
  <ion-toolbar>
    <ion-title>Lista de actividades</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-col>
    <ion-button class="nav-boton" (click)="accion()" expand="block" color="success">Menu</ion-button>
    <ion-button (click)="changeView()" class="nav-enlace desaparece" expand="block" color="success">
      Cambiar vista
    </ion-button>
  </ion-col>

  <!-- <ion-list>
    <ion-item *ngFor="let task of Tasks" lines="full"> -->

  <div class="category-block">
    <ion-slides [options]="slider">
      <ion-slide *ngFor="let task of Tasks">
        <div>
          <ion-card>

            <ion-card-header>
              <ion-card-title>

                <img [src]="task.png" width="400" height="400"class="img-fluid" />

                <ion-label>
                  <strong>{{task.title}}</strong>
                  <p>{{task.description}}</p>
                </ion-label>

              </ion-card-title>
            </ion-card-header>


            <!-- <div item-end> -->
        
            <ion-card-content>

              <button [routerLink]="['/view-activity',task.id]">
                <ion-icon name="eye-outline" style="zoom:1.5"></ion-icon>
              </button>

            </ion-card-content>

          </ion-card>

        </div>
      </ion-slide>
    </ion-slides>
  </div>

      <!-- </div>    
    </ion-item>
  </ion-list> -->

</ion-content>