.searchBar{
    width: 17.56954612005857vw;
    height: 5.208333333333333vh;
    margin-left: 58px;
}
.image{
    width: 14.49487554904832vw;
    height: 27.08333333333333vh;
    margin-top: 2.5vh;
    margin-left: 58px;
    //margin-right: auto;
    border: 1.5px solid #FFF9EE;
    box-sizing: border-box;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));
}
.label{
    margin-left: 58px;
}
.button{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}